<!DOCTYPE html>
<html lang="nl" manifest="/app.appcache">
  <head>
    <title>{% block title %}Studio Reactor Webapps{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="/static/css/roundslider.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="http://getbootstrap.com/assets/js/html5shiv.js"></script>
      <script src="http://getbootstrap.com/assets/js/respond.min.js"></script>
    <![endif]-->
		<link href='http://fonts.googleapis.com/css?family=Merriweather|Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body onload="setTimeout(function() { window.scrollTo(0, 1); }, 20);">

<div id="aside">
	<div class="col-md-12">
	<h1><a href="/">Studio Reactor</a></h1><h2>digital product design and development</h2>
	</div>
</div>
<div id="content">
	<div class="row">
		<div class="col-md-10">


        {% block contentblock %}{% endblock %}

		</div>
	</div>
</div>

{#<script src="//code.jquery.com/jquery.js"></script>#}
<script src="//cdn.jsdelivr.net/jquery/1.11.3/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script src="/static/js/roundslider.js"></script>

  {% block extra_js %}{% endblock %}
</body>
</html>
