{% extends "base.html" %}
{% block title %}
Egoactive Raspberry Pi Flask
{% endblock %}

{% block contentblock %}
<div class="post">
  	<h3>HuBo Home</h3>
	<span class="meta">{{ ctx.now.strftime('%Y-%m-%d') }}</span>
    <div>
        <label style="width:160px;">Actuele temp.</label>
        <span id="curTemp">-</span> 
    </div>
    <div>
        <label style="width:160px;">Thermostaat stand</label>
        <span id="curPotPos">-</span><span id="curPotPosRaw"></span>
    </div>
    <div style="padding-bottom:5px;">
        <label style="width:60px;">laag</label>
        <!-- button class="btn btn-primary temp" data-value="0">14</button -->
        <button class="btn btn-primary temp" data-value="125">15</button>
        <button class="btn btn-primary temp" data-value="132">16</button>
        <!-- button class="btn btn-primary temp" data-value="135">17</button -->
    </div>
    <div>
        <label style="width:60px;">middel</label>
        <button class="btn btn-primary temp" data-value="140">18</button>
        <button class="btn btn-primary temp" data-value="155">19</button>
        <button class="btn btn-primary temp" data-value="160">19.5</button>
    </div>
    <div>
        <label style="width:60px;">hoog</label>
        <button class="btn btn-primary temp" data-value="165">20</button>
        <button class="btn btn-primary temp" data-value="169">20.5</button>
        <button class="btn btn-primary temp" data-value="173">21</button>
        <button class="btn btn-primary temp" data-value="180">21.5</button>
    </div>
    <br>
    {% for switch in switches %}
{#        {{ switch }}#}
        <div>
            <label style="width:160px;">{{ switch.0 }}</label>
            <button class="btn btn-primary kika" data-address="lamp/{{ switch.1 }}" data-state="on">Aan</button>
            <button class="btn btn-primary kika" data-address="lamp/{{ switch.1 }}" data-state="off">Uit</button>
        </div>
    {% endfor %}
    <br>
    <div>
{#	 <label style="width:160px;">Allemaal (parallel doesn't work)</label>
        <button class="btn btn-primary" data-address="{{ all_urls }}" data-state="on">Aan</button>
        <button class="btn btn-primary" data-address="{{ all_urls }}" data-state="off">Uit</button>
#}
        <label style="width:160px;">Alle lampen</label>
        <button class="btn btn-primary kika" data-address="lightsonly" data-state="on">Aan</button>
        <button class="btn btn-primary kika" data-address="lightsonly" data-state="off">Uit</button>
    </div>
    <div>
        <label style="width:160px;">Alle schakelaars</label>
        <button class="btn btn-primary kika" data-address="all" data-state="on">Aan</button>
        <button class="btn btn-primary kika" data-address="all" data-state="off">Uit</button>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
    $(function(){
        $('button.kika').click(function() {
            var thebutton = $(this).button();
            var button_prev = thebutton.text();
            thebutton.text('...');
            var addr = $(this).attr('data-address');
            var state = $(this).attr('data-state');
            var urls = addr.split(',');
            $.each( urls, function( index, value ){
                console.log(value);
                $.get('/'+value+'/'+state+'/', function(data){
                    thebutton.text(button_prev);
                });
            });
        });

        $('button.temp').click(function() {
            var thebutton = $(this).button();
            var button_prev = thebutton.text();
            thebutton.text('...');
            var newValue = $(this).attr('data-value');
            // waarde instellen
            var requestURL = '/servo/' + newValue + '/';
            $.get( requestURL, function(data){
                thebutton.text(data);
                setTimeout(function(){
                    // na 1 sec. oorspronkelijke label terug op button
                    thebutton.text(button_prev);
                }, 1000);
            });
        });
    });

    window.setInterval(function() {
        fetch_temp();
    }, 5000);

    fetch_temp = function(){
        requestURL = "/temp/";
        $.getJSON(requestURL, function(json) {
                 document.getElementById("curTemp").innerHTML = json.result + "&deg;";
                 document.getElementById("curTemp").style.fontSize = "20px";
                 });
        requestURL = "/getpos_actual/";
        $.getJSON(requestURL, function(json) {
            var temp_act = Math.round( (-0.5 + 0.0095*json.result) * 10 ) / 10;
                 document.getElementById("curPotPos").innerHTML = temp_act + "&deg;";
                 document.getElementById("curPotPos").style.fontSize = "20px";
                 document.getElementById("curPotPosRaw").innerHTML = "(" + json.result + ")";
                 document.getElementById("curPotPosRaw").style.fontSize = "10px";
                 });
    }

    $(document).ready(function() {
        fetch_temp();
    });
    </script>
{% endblock %}
