{% extends "base.html" %}
{% block title %}
Studio Reactor Raspberry Pi Flask
{% endblock %}

{% block contentblock %}
<div class="post">
  	<h2>HuBo Home</h2>
    <div class="groep">
        <span class="meta">{{ ctx.now.strftime('%Y-%m-%d') }}</span>
    </div>
    <div class="groep">
        <div>
            <label style="width:160px;">Actuele temp.</label>
            <span id="curTemp">-</span>
        </div>
        <div>
            <label style="width:160px;">Thermostaat stand</label>
            <span id="curPotPos">-</span><span id="curPotPosRaw"></span>
        </div>
        <div>
            <div class="loader setpoint-keuken center-block" style="display: none;"></div>
            <div id="setpoint-keuken"></div>
{#            <label style="width:60px;">laag</label>#}
{#            <!-- button class="btn btn-primary temp" data-value="0">14</button -->#}
{#            <button class="btn btn-primary temp" data-value="150">15</button>#}
{#            <button class="btn btn-primary temp" data-value="90">16</button>#}
{#            <button class="btn btn-primary temp" data-value="80">17</button>#}
        </div>
{#        <div>#}
{#            <label style="width:60px;">middel</label>#}
{#            <button class="btn btn-primary temp" data-value="70">18</button>#}
{#            <button class="btn btn-primary temp" data-value="60">19</button>#}
{#            <button class="btn btn-primary temp" data-value="55">19.5</button>#}
{#        </div>#}
{#        <div>#}
{#            <label style="width:60px;">hoog</label>#}
{#            <button class="btn btn-primary temp" data-value="50">20</button>#}
{#            <button class="btn btn-primary temp" data-value="45">20.5</button>#}
{#            <button class="btn btn-primary temp" data-value="40">21</button>#}
{#        </div>#}

    </div>
    <div class="groep">
        <h3>Groepen</h3>
        <div>
            <label style="width:160px;">Alles boven</label>
            <button class="btn btn-primary kika" data-address="bovenonly" data-state="on">Aan</button>
            <button class="btn btn-primary kika" data-address="bovenonly" data-state="off">Uit</button>
        </div>
        <div>
            <label style="width:160px;">Alles beneden</label>
            <button class="btn btn-primary kika" data-address="benedenonly" data-state="on">Aan</button>
            <button class="btn btn-primary kika" data-address="benedenonly" data-state="off">Uit</button>
        </div>
    </div>
    <div class="groep">
        <h3>Per stuk</h3>
        {% for switch in switches %}
{#            {{ switch }}#}
            <div>
                <label style="width:160px;">{{ switch.0 }}</label>
                <button class="btn btn-primary kika" data-address="lamp/{{ switch.1 }}" data-state="on">Aan</button>
                <button class="btn btn-primary kika" data-address="lamp/{{ switch.1 }}" data-state="off">Uit</button>
            </div>
        {% endfor %}
    </div>
{#    <div>#}
{#        <label style="width:160px;">Alle lampen</label>#}
{#        <button class="btn btn-primary kika" data-address="lightsonly" data-state="on">Aan</button>#}
{#        <button class="btn btn-primary kika" data-address="lightsonly" data-state="off">Uit</button>#}
{#    </div>#}
    <div class="groep">
        <h3>Alles</h3>
        <div>
            <label style="width:160px;">Alle schakelaars</label>
            <button class="btn btn-primary kika" data-address="all" data-state="on">Aan</button>
            <button class="btn btn-primary kika" data-address="all" data-state="off">Uit</button>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
    <script>
    $(function(){
        $('button.kika').click(function() {
            var thebutton = $(this).button();
            var button_prev = thebutton.text();
            thebutton.text('...');
            var addr = $(this).attr('data-address');
            var state = $(this).attr('data-state');
            var urls = addr.split(',');
            $.each( urls, function( index, value ){
                console.log(value);
                $.get('/'+value+'/'+state+'/', function(data){
                    thebutton.text(button_prev);
                });
            });
        });

        $('button.temp').click(function() {
            // DIT IS NU OBSOLETE
            var thebutton = $(this).button();
            var button_prev = thebutton.text();
            thebutton.text('...');
            var newValue = $(this).attr('data-value');
            // waarde instellen
            var requestURL = '/servo/' + newValue + '/';
            $.get( requestURL, function(data){
                thebutton.text(data);
                setTimeout(function(){
                    // na 1 sec. oorspronkelijke label terug op button
                    thebutton.text(button_prev);
                }, 1000);
            });
        });
    });

    window.setInterval(function() {
        fetch_temp();
    }, 5000);

    fetch_temp = function(){
        requestURL = "/temp/";
        $.getJSON(requestURL, function(json) {
                 document.getElementById("curTemp").innerHTML = json.result + "&deg;";
                 document.getElementById("curTemp").style.fontSize = "20px";
                 });
        requestURL = "/getpos_actual/";
        $.getJSON(requestURL, function(json) {
            var temp_act = Math.round( (33.106 - 0.00757*json.result) * 10 ) / 10;

            var round_temp_act = Math.round( (33.106 - 0.00757*json.result) * 2 ) / 2.0;
            $('#setpoint-keuken').roundSlider("setValue", temps.indexOf(round_temp_act.toString()));

            document.getElementById("curPotPos").innerHTML = temp_act + "&deg;";
            document.getElementById("curPotPos").style.fontSize = "20px";
            document.getElementById("curPotPosRaw").innerHTML = "(" + json.result + ")";
            document.getElementById("curPotPosRaw").style.fontSize = "10px";
        });
    };

    function onValueChange (e) {
        var newValue = servoVal1(e);
        console.log(newValue);
        var requestURL = '/servo/' + newValue + '/';
        $(".loader.setpoint-keuken").show();
        $.get( requestURL, function(data){
            setTimeout(function(){
                $(".loader.setpoint-keuken").hide();
            }, 1000);
        });
    };

    var temp_servo_vals = [
        "150", "100", "90",
        "85", "80", "75",
        "70", "65", "60",
        "55", "50", "45",
        "40", "35", "30"
    ];

    var temps = [
        "15", "15.5", "16",
        "16.5", "17", "17.5",
        "18", "18.5", "19",
        "19.5", "20", "20.5",
        "21", "21.5", "22"
    ];

    function servoVal1(args) {

        return temp_servo_vals[args.value];
    };

    function tooltipVal1(args) {

        return temps[args.value];
    };


    $(document).ready(function() {
        fetch_temp();

        // http://roundsliderui.com/document.html
        $("#setpoint-keuken").roundSlider({
            sliderType: "min-range",
            circleShape: "custom-quarter",
            min: 0,
            max: 14,
            value: 0,
            startAngle: 45,
            editableTooltip: false,
            radius: 240,
            width: 20,
            stop: "onValueChange",
            //handleShape: "dot",
            handleSize: "+12",
            tooltipFormat: "tooltipVal1"
        });

    });
    </script>
{% endblock %}
